@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;700&family=Outfit:wght@100;200;300;400;700&display=swap');

@font-face {
  font-family: 'Milyuna';
  src: url('storage/fonts/Milyuna-Regular.ttf') format('woff2'), /* Path to modern format */
       url('storage/fonts/Milyuna-Regular.ttf') format('woff');   /* Path to fallback format */
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Ensures text is visible while the font loads */
}

.font-milyuna {
  font-family: 'Milyuna', serif;
}

.font-cormorant {
  font-family: 'Cormorant Garamond', serif;
}

.font-outfit {
  font-family: 'Outfit', sans-serif;
}